@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

* {
  font-family: "Inter", sans-serif;
}
body {
  overflow-x: hidden;
}
.color-grey {
  color: #8990ad !important;
}
.color-dark {
  color: #11193c;
}
.color-blue {
  color: #2464fc;
}
.color-green {
  color: #00e38c !important;
}
.color-red {
  color: #ff4b75;
}
.svg-green * {
  stroke: #00e38c !important;
  fill: #00e38c !important;

}
.svg-red * {
  fill: #ff4b75 !important;
  stroke: #ff4b75 !important;
}
.bg-green {
  background-color: #00e38c !important;
}
.bg-blue {
  background-color: #2464fc !important;
}
.pointer {
  cursor: pointer;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #8990ad;
}
