@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

* {
  font-family: "Inter", sans-serif;
}
body {
  overflow-x: hidden;
}
.color-grey {
  color: #8990ad !important;
}
.color-dark {
  color: #11193c;
}
.color-blue {
  color: #2464fc;
}
.color-green {
  color: #00e38c !important;
}
.bg-green {
  background-color: #00e38c !important;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #8990ad;
}
